/* STYLING FOR HEADER */
header {
    /* position: absolute;
    top:0; */
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}

.header_logo {
    height:100%;
    width:140px;
    margin-left:20px;
    background-image:url('../images/logo.png');
    background-repeat:no-repeat;
    background-position:left;
}