/* STYLING FOR PLACES */
section.places h1 {
    font-size:30px;
    padding-left:30px;
}

.places ul {
    text-align:center;
}

.places li {
    list-style:none;
    display:inline-block;
}

.places article {
    position:relative;  /* necessary for price_by_night */
    width:390px;
    padding:20px;
    margin:20px;
    border:#FF5A5F 1px solid;
    border-radius:4px;
    text-align:center;
}

.places article h2 {
    font-size:30px;
    margin-top:5px;
    margin-bottom:50px;
}

/* MORE DETIAL FOR ARTICLE */
.price_by_night {
    position:absolute;
    top:20px;
    right:20px;
    float:right;
    color:#FF5A5F;
    border:#FF5A5F 4px solid;
    border-radius:50%;
    min-width:60px;
    height:60px;
    font-size:30px;
    line-height:60px;
    padding:5px;
}

/* INFORMATION SECTION */
.information {
    position:relative;
    height:80px;
    line-height:80px;
    border-top: 1px #DDDDDD solid;
    border-bottom:1px #DDDDDD solid;
}

.information .max_guest,
.information .number_rooms,
.information .number_bathrooms {
    display:inline-block;
    width:100px;
    height:100%;
}

.icon {
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:top;
    padding-top:5px;
    margin-top:5px;
    margin-bottom:-80px;
}

.icon.group {
    background-image:url("../images/icon_group.png");
}

.icon.bed {
    background-image:url("../images/icon_bed.png");
}

.icon.bath {
    background-image:url("../images/icon_bath.png");
}

/* USER */
.user {
    text-align:left;
    margin-top:25px;
    margin-bottom:15px;
}

/* DESCRIPTION */
.description {
    text-align:left;
}